h1{
	color: #ff0000;
}

label{
	min-width: 130px;
	display: inline-block;
	text-align: right;
}
label.checkbox_label{
	margin-left: 215px;
}
#choose_file{
	border: 1px solid grey;
}
.error{
	color:red;
}
#ErrorFname {
	color: red;

}
#ErrorLname {
	color: red;
	padding-right:10px
}
#ErrorEmail {
	color: red;
}
#errorUsername {
	color: red;
}
#Errorpass {
	color: red;
}
#ErrorConfirm {
	color: red;
}
#Error_radio {
	color: red;
	padding-left: 150px;

}
#ErrorAbout {
	color: red;
}
